.hero__wrapper-main {
    background-color: var(--first-brand-color);
}
.hero__wrapper{
    background-color: var(--first-brand-color);
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
  .hero__wrapper::before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        top: 0;
        left: 0;
    }
.hero {
    position: relative;
    text-align: center;
    padding: 10rem 0 10rem;
}
.hero__svg {
    display: none;
}
.hero .title {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    margin-bottom: 2rem;
}
.hero .title span {
   color: var(--third-brand-color);
   display: block;
}
.hero .text {
    margin: 0 auto 3rem;
    max-width: 30rem;
}
.hero__img {
    display: none;
}
.hero .title, .hero .text {
    color: #fff;
}


.contacts__wrapper {
    background-color: var(--first-brand-color);
}
.contacts {
    padding: 15rem 0 10rem;
    text-align: center;
}
.contacts__item:not(:last-child) {
    margin-bottom: 4rem;
}
.contacts__item .text {
    font-family: var(--title-font);
}
.contacts__item-svg {
    display: none;
}



.policy__wrapper {
    background-color: var(--first-brand-color);
    position: relative;
}
.policy {
    padding: 15rem 0;
    text-align: center;
}
.policy .sub-title {
    margin-bottom: 5rem;
}
.policy__item:not(:last-child) {
    margin-bottom: 8rem;
}
.policy__title {
    font-family: var(--title-font);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.policy__block {
    max-width: 50rem;
    margin: 0 auto;
    border: .1rem solid var(--second-brand-color);
    padding: 5rem 2rem;
}
.policy__item .text {
    margin-bottom: 3rem;
}
.policy__btn {
    font-family: var(--title-font);
    font-size: 2rem;
    text-transform: lowercase;
    color: var(--second-brand-color);
    border-bottom: .2rem solid var(--second-brand-color);
    transition: all .3s ease-in-out;
}
.policy__wrapper-svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: var(--second-brand-color);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.policy__wrapper .container {
    z-index: 2;
    position: relative;
}
@media screen and (min-width: 1440px)  {

    .hero {
        padding: 25rem 0 15rem;
        position: relative;
    }
    .hero__block {
        position: relative;
    }
    /* .hero::before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../img/bg2.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } */
    .hero__svg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        fill: var(--second-brand-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    


    .contacts__item:not(:last-child) {
        margin-bottom: 0;
    }
    .contacts__list {
        display: flex;
        justify-content: space-around;
    }
    .contacts {
        /* padding: 20rem 0 10rem; */
    }
    .contacts__item,
    .contacts__item .text {
        position: relative;
    }
    .contacts__item {
        position: relative;
    }
    .contacts__item-svg {
        display: block;
        position: absolute;
        fill: var(--second-brand-color);
        width: 8rem;
        height: 8rem;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 0;
    }
  


  
    .policy__btn:hover {
        letter-spacing: .2rem;
    }
    .policy__block {
        background-color: rgba(255, 255, 255, .8);
    }
}
